.oe_login_form, .oe_signup_form, .oe_reset_password_form{
    margin:0 auto;
}
form{
    label{
        font-weight: 400;
    }
}
.form-control{
    border:1px solid $grey_1;
    border-radius:12px;
    padding:6px;
}
.form-control:focus {
    border-color: $grey_1;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
select.form-control{
    padding-top:3px;
}