.s_categs_home{
    .categ{
        @include box-shadow-1;
        background-color:#ffffff;
        .owl-carousel{
            padding-left:3%;
            padding-right:3%;
            .item{
                padding:25px 0;
                text-align:center;
                img{
                    height:40px;
                    width:auto;
                    margin: 0 auto 10px;
                }
                .btn{
                    padding:5px;
                    text-decoration:none!important;
                    white-space: normal;
                    a{
                        text-decoration:none!important;
                        color:#000000;
                        position:relative;
                        z-index:1;
                        &:hover{
                            text-decoration:none!important;
                        }
                    }
                }
            }
        }
    }
    .sub-categ{
        .content-sub-categ{
            .card-body{
                padding: 8px;
                @include box-shadow-1;
                background-color:#ffffff;
                border-radius: 0 0px 18px 18px;
                .btn{
                    text-decoration :none;
                    a{
                        color:$grey_1;
                        text-decoration :none;
                        &:hover{
                            color:$secondary_color;
                        }
                    }
                }
            }
            .child1{
                .child2{
                    .card-body{
                        margin: 0 20px;
                        display:inline-block;
                        .p-2{
                            margin:0 10px;
                            text-decoration :none;
                            a{
                                color:$grey_1;
                                text-decoration :none;
                                &:hover{
                                    color:#000000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    .owl-theme{
        .owl-nav {
            margin-top: 0;
            [class*=owl-]{
                position:absolute;
                top:50%;
                transform: translateY(-50%);
                font-size:40px;
                color:$grey_1;
                background:transparent;
                outline-style:none;
                box-shadow:none;
                &.owl-prev{
                    left:0;
                }
                &.owl-next{
                    right:0;
                }
            }
        }
    }
}

//s_slider_home
.s_slider_home{
    .owl-carousel{
        padding:10px 10%;
        background-color:#ffffff;
        border-radius:20px;
        @include box-shadow-1;
        .btn-slider{
            margin:20px 10px 10px 20px;
        }
        .owl-dots{
            text-align:right;
            position:absolute;
            right:3%;
            bottom:0;
            margin:10px 0;
            .owl-dot{
                outline-style:none;
                span{
                    background-color:transparent;
                    border: 1px solid #707070;
                    margin:5px;
                }
                &:hover,&.active{
                    span{
                        background-color:$secondary_color;
                    }
                }
            }
        }
    }
}


//s_products
.s_products{
    margin:20px auto;
    .title_product_section{
        font-size:20px;
        color:$grey_1;
        span{
            vertical-align: middle;
            margin:4px;
        }
        img{
            width:20px;
            margin:4px;
        }
    }
    .product_item{
        border: 1px solid rgba(0, 0, 0, 0.16);
        border-radius: 6px;
        background-color: #ffffff;
        transition: all 0.4s ease;
        overflow: hidden;
        position:relative;
        height: 280px;
        margin:10px 0;
        @media (min-width: 992px){
            height: 260px;
        }
        @media (min-width: 1200px){
            height:320px;
        }
        .product_image{
            position: absolute;
            left: 15px;
            right: 15px;
            top: 15px;
            bottom: 55px;
            text-align: center;
            img {
                max-width: 100%;
                max-height: 100%;
                margin: auto;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 4;
            }
        }
        .product_price{
            position:relative;
            b > del{
                font-size:12px;
                position:absolute;
                left:0;
                top:20px;
                color:$grey_1!important;
            }
            b > span[data-oe-type="monetary"]{
                font-size: 16px;
                color: $secondary_color;
                display: block;
                padding-bottom: 10px;
            }
            .d-none + span[data-oe-type="monetary"]{
                padding-bottom: 0;
                padding-top: 5px;
            }
        }
        section{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            padding: 0 15px 10px 10px;
            min-height: 56px;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            background: rgba(255, 255, 255, 0.75);
            z-index: 5;
            transform: translateY(40px);
            transition: transform 0.4s;
            h6{
                a{
                    color: #000000;
                    text-decoration: none;
                    &:hover{
                        color:$secondary_color;
                    }
                }
            }
            .product_price{
                margin-top:0!important;
            }
            .btn{
                background: none!important;
                padding: 0;
                border: none;
                box-shadow: none!important;
                font-size: 20px;
                margin: 0 6px;
                &.o_add_wishlist{
                    color:$secondary_color;
                }
                &[title="Shopping cart"]{
                    color:$primary_color;
                }
            }
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 4;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9));
            opacity: 0;
            transition: all 0.4s ease;
        }
        &:hover{
            box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
            &:after {
                opacity: 1;
            }
            section{
                transform: translateY(0);
            }
        }
    }
}